%p
  %img(src="/profile.jpg")
%p 
  #main_text
    Research the intersections of Software Engineering (SE) and Computer Supported Cooperative Work (CSCW). Currently, I am working on the support of newcomers to Open Source Software development communities. I am interested in Open Source Software, Human Aspects of Software Engineering, Empirical Software Engineering, and Mining Software Repositories techniques. I research the intersections of Software Engineering (SE) and Computer Supported Cooperative Work (CSCW). Currently, I am working on the support of newcomers to Open Source Software development communities. I am interested in Open Source Software, Human Aspects of Software Engineering, Empirical Software Engineering, and Mining Software Repositories techniques.I research the intersections of Software Engineering (SE) and Computer Supported Cooperative Work (CSCW). Currently, I am working on the support of newcomers to Open Source Software development communities. I am interested in Open Source Software, Human Aspects of Software Engineering, Empirical Software Engineering, and Mining Software Repositories techniques.
    Source Software development communities. I am interested in Open Source Software, Human Aspects of Software Engineering, Empirical Software Engineering, and Mining Software Repositories techniques.I research the intersections of Software Engineering (SE) and Computer Supported Cooperative Work (CSCW). Currently, I am working on the support of newcomers to Open Source Software development communities. I am interested in Open Source Software, Human Aspects of Software Engineering, Empirical Software Engineering, and Mining Software Repositories techniques.  
%p
  #index_name 
    Mariane Medeiros, MSc
%p
  #index_email
    %strong marianeaffonsomedeiros@gmail.com

