%p
  A história da pizza começou com os egípcios.2 Acredita-se que eles foram os primeiros a misturar farinha com água. Outros afirmam que os pioneiros são os gregos, que faziam massas a base de farinha de trigo, arroz ou grão-de-bico e as assavam em tijolos quentes. A novidade foi parar na Etrúria, na Itália.
%p
  Ao contrário do conhecimento popular e do fato ser considerada tipicamente italiana, os babilônios, hebreus e egípcios já misturavam o trigo e amido e a água para assar em fornos rústicos há mais de 5 000 anos. A massa era chamada de "pão de abraão", era muito parecida com os pães árabes atuais e recebia o nome de piscea.
%p
  Os fenícios, três séculos antes de Cristo, costumavam acrescentar coberturas de carne e cebola ao pão; os turcos muçulmanos adotavam esse costume durante a Idade Média e, por causa das cruzadas, essa prática chegou à Itália pelo porto de Nápoles, sendo, em seguida, incrementada, dando origem à pizza que conhecemos hoje.
%p
  No início de sua existência, somente as ervas regionais e o azeite de oliva, comuns no cotidiano da região, eram os ingredientes típicos da pizza. Os italianos foram os que acrescentaram o tomate, descoberto na América e levado à Europa pelos conquistadores espanhóis. Porém, nessa época, a pizza ainda não tinha a sua forma característica, redonda, como a conhecemos hoje, mas sim dobrada ao meio, feito um sanduíche ou um calzone.
%p
  Chegou ao Brasil da mesma forma, por meio dos imigrantes italianos, e, hoje, pode ser encontrada facilmente na maioria das cidades brasileiras. Até os anos 1950, era muito mais comum ser encontrada em meio à colônia italiana, tornando-se, logo em seguida, parte da cultura deste país. Desde 1985, comemora-se o dia da pizza no dia 10 de julho.3 4 5 6 7
%p
  Foi no Brás, bairro paulistano dos imigrantes italianos, que as primeiras pizzas' começaram a ser comercializadas no Brasil. Segundo consta no livro Retalhos da Velha São Paulo, escrito por Geraldo Sesso Jr., o napolitano Carmino Corvino, o dom Carmenielo, dono da já extinta Cantina Santa Genoveva, instalada na esquina da Avenida Rangel Pestana com a Rua Monsenhor Anacleto, inaugurada em 1910, passou a oferecer as primeiras pizzas' da cidade.