%p
  O sistema de sabores da nossa pizzaria é o mesmo desde o início: você escolhe as opções que gosta.
%p
  Todas as pizzas são personalizadas!

%p
  %table
    %tr.itens
      %td Massa
      %td Molho
      %td Recheio 1
      %td Recheio 2
      %td Recheio 3
      %td Cobertura
    %tr
      %td Fina, média, grossa e recheada
      %td Tomate, apimentado
      %td Queijo, presunto, ovos, bacon, lombo, rúcula, escarola, cebola...
      %td ...
      %td ...
      %td Cheddar, cebola, picles

%p
  Consulte o preço por telefone.